{:project-formatted-name "ReadMoi"
 :copyright-holder "Brad Losavio"

 :changelog-UUID #uuid "aa13a964-fbe5-4347-92f5-90ba0da27bdb"

 :changelog-html-directory "doc/"
 :changelog-html-filename "changelog.html"

 :changelog-markdown-directory ""

 :changelog-entries-directory "resources/changelog_entries/"
 :changelog-data-file "changelog.edn"

 :tidy-html? true}

