{:sections [{:section-name "Setup"}
            {:section-name "API" :section-href "https://blosavio.github.io/readmoi/index.html" :skip-section-load? true}
            {:section-name "Changelog" :section-href "https://github.com/blosavio/readmoi/blob/main/changelog.md" :skip-section-load? true}
            {:section-name "Introduction" :section-href "intro"}
            {:section-name "Usage" :section-href "usage"}
            {:section-name "Examples" :section-href "examples"}
            {:section-name "Glossary"}
            {:section-name "Contact" :section-href "https://github.com/blosavio" :skip-section-load? true}]

 :clojars-badge? true
 :copyright-holder "Brad Losavio"

 ;; special directives to zprint on how to handle these functions
 :fn-map-additions {}

 :project-description "A Clojure library for generating a project ReadMe from hiccup/html"
 :project-name-formatted "ReadMoi"

 :readme-UUID #uuid "e0d63371-4eb7-4431-a5f1-1cf0f5c46a72"

 :readme-html-directory "doc/"
 :readme-html-filename "readme.html"

 :readme-markdown-directory ""
 :readme-markdown-filename "README.md"

 :sections-directory "resources/readme_sections/"

 :separator " => "
 :wrap-at 80

 :tidy-html? true}